
.glav{
	
	width: 500px;
	height: 200px;
	border:5px solid red;
	
}
table {

	width: 500px;
	height: 200px;
	border: 1px solid black;
	text-align: center;
	color: black;	
}
td , tr {
	border: 1px solid black;
}

.svsinio {

	background: #99CCFF;

	
}

.sivo
{
	background: #CCC;
	text-align: left;
}

.sinio
{
	background: #6699CC;
}
.tmnsinio{
	text-align: right;
	background: #336699;
}
.tmnosivo{
	text-align: left;
	background: #999;
	
}
