

td
{
text-align: center;
background-image : url("backround.jpg") ;
border-bottom: 1px solid black ;
box-shadow: 0 0 10px #111;

}
table {
	border: 2px solid grey  ;
	border-spacing: 9px;
	box-shadow: 0 0 10px #111;

}