
table {
	display: block;
	border: 1px blue;
	border-collapse: separate;
	width: 500px;
	height: 200px;
	text-align: center;
	color: black;
	
}


.linq1 {

	background: red;
	
}

.linq2
{
	background: green;
}

